pickles/pickle_models_vqgan_imagenet_f16_16384 filter=lfs diff=lfs merge=lfs -text
pickles/pickle_models_wikiart_16384 filter=lfs diff=lfs merge=lfs -text
pickles/pickle_models_coco filter=lfs diff=lfs merge=lfs -text
