[submodule "taming-transformers"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP
[submodule "gpt-neo"]
	path = gpt-neo
	url = https://github.com/EleutherAI/gpt-neo/
[submodule "TAMING-TRANSFORMERS"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers
